In [1]:
#!pip install mysql-connector-python

In [17]:
import mysql.connector as connector

In [18]:
connection = connector.connect(user="root", password="mysqluje")

In [19]:
cursor=connection.cursor()

In [20]:
create_database_query="""CREATE DATABASE little_lemon"""

In [21]:
#cursor.execute(create_database_query)

In [22]:
use_database_query="""USE little_lemon"""

In [23]:
cursor.execute(use_database_query)

In [24]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('employees',)
('menuitems',)
('menus',)
('orders',)

In [50]:
cursor.execute("""SELECT 
BookingID, BillAmount as TotalCost
FROM Orders
WHERE BillAmount>=60
ORDER BY BillAmount ASC
""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('BookingID', 'TotalCost')
(1, 86)